@tailwind base;
@tailwind components;
@tailwind utilities;


/* import section starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* initialization of root variables */

:root {
  /* colors */

  /* --main-clr:#fd5956; */
  --main-clr: #e6a12c;
  --green1: #26973c;
  --green2: #3c4937;
  --green3: #80c18c;
  --green4: #e6f3e8;
  --red-clr: #ff5630;
  --orange-clr: #ffab00;
  --blue-clr: #377dff;
  --white0: #ffffff;
  --white1: #fefefe;
  --white2: #f3f5f7;
  --white3: #e8ecef;
  --white-alt1: rgba(255, 255, 255, 0.15);
  --black0: #000000;
  --black1: #141718;
  --black2: #232627;
  --black3: #343839;
  --black4: #6c7275;
  --black-alt1: rgba(0, 0, 0, 0.15);
  --gray-clr: ;
  --light-bg: ;

  /* borders */
  --s1-border-black: 1px solid var(--black1);
  --s2-border-black: 1px solid var(--black-alt1);
  --s1-border-light: 1px solid var(--white1);
  --s2-border-light: 1px solid var(--white-alt1);

  /* shadows */
  --shadow0: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow1: 0px 8px 16px -8px #0f0f0f1f;
  --shadow3: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  --shadow4: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  /* body font */

  --body-font: "Poppins", Arial, sans-serif;

  /* sizes */

  --s1-size: 0.7rem; /* smalls sizes */
  --s2-size: 0.813rem;
  --s3-size: 0.938rem;
  --m1-size: 1.1rem; /* meduims sizes */
  --m2-size: 1.4rem;
  --m3-size: 1.8rem;
  --l1-size: 2rem; /* larges sizes */
  --l2-size: 2.4rem;
  --l3-size: 2.5rem;

  /* border-raduis */

  --s1-raduis: 0.15rem;
  --s2-raduis: 0.25rem;
  --m1-raduis: 0.5rem;
  --l1-raduis: 50%;
  --l2-raduis: 100%;

  /* transitions */

  --s1-transition: 0.2s linear;

  /* z-index */

  --s1-z-index: 1;
  --l1-z-index: 10;
}

::selection {
  background-color: var(--main-clr);
  color: var(--white1);
}
::placeholder {
  color: var(--black1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

input, textarea{
    font-family: var(--body-font);
    outline: none;
    border: none;
}
